.mat-toolbar {
  /*background-color: #3f51b5;
  color: white;
  display: flex;
  justify-content: space-between;*/
  padding: 10px 20px;
  font-size: 18px;
}

/*.spacer {
  flex: 1;
}*/

.mat-menu-panel {
  /*display: block !important;
  min-width: 200px;*/
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  /*display: flex !important;
  flex-direction: row !important;*/
}

.mat-menu-item {
  font-size: 16px;
  padding: 10px 20px;
}

.mat-menu-item:hover {
  background-color: rgba(63, 81, 181, 0.1);
}

/*@media (max-width: 768px) {
  .mat-toolbar {
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }
}*/

.mat-tab-group {
  width: 100%;
}

.mat-tab-label {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.mat-tab-label:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.active-tab {
  font-weight: bold;
  border-bottom: 3px solid #ff9800;
}
