<div class="navbar">
  <mat-toolbar>
    <mat-tab-group>
      <mat-tab>
        <ng-template matTabLabel>
          <a mat-button routerLink="/" routerLinkActive="active-tab"><mat-icon>home</mat-icon>Home</a>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template matTabLabel>
          <a mat-button routerLink="/ag-grid" routerLinkActive="active-tab">AG grid</a>
        </ng-template>
      </mat-tab>
      <mat-tab  *ngIf="isLoggedIn">
        <ng-template matTabLabel>
          <a mat-button routerLink="/profile" routerLinkActive="active-tab" [routerLinkActiveOptions]="{exact: true}">Profile</a>
        </ng-template>
      </mat-tab>
      <mat-tab *ngIf="!isLoggedIn">
        <ng-template matTabLabel>
          <a mat-button routerLink="register" routerLinkActive="active-tab">Register</a>
        </ng-template>
      </mat-tab>
      <mat-tab *ngIf="!isLoggedIn">
        <ng-template matTabLabel>
          <a mat-button routerLink="login" routerLinkActive="active-tab">Login</a>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template matTabLabel>
          <a mat-button routerLink="/spreadsheet" routerLinkActive="active-tab">Spreadsheet</a>
        </ng-template>
      </mat-tab>
      <mat-tab *ngIf="isLoggedIn">
        <ng-template matTabLabel>
          <a mat-button (click)="logout()" routerLinkActive="active-tab">Logout</a>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-toolbar>
</div>
